<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="mt-5 mb-4">
      <h2 class="mb-4">Minhas Ideias</h2>
    </div>
  </div>
</div>
<% if current_user.idealizer? %>
 <%= render "shared/idealizer_ideas" %>
 <% elsif current_user.investor? %>
 <%= render "shared/investor_ideas" %>
 <% end %>