<div class="footer">
  <div class="col-sm-12">
    <footer>
      <p class="float-right"><a href="#">Voltar ao topo </a></p>
      <p> © 2018 S2Business · <a href="#">Politica de privacidade </a></p>
    </footer>
  </div>
</div>
