
<div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">Sobre nós
        
      </h1>
      <p>
      O time de desenvolvimento teve a brilhante ideia de juntar o útil ao agradável, quando uma pessoa precisa 
      de um investidor para a sua ideia, raramente consegue um investidor e o investidor também possui dificuldade de encontrar pessoas criativas,
      poreḿ essa dificuldade acabou, na nossa plataforma você pode ser os dois!
      </p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Nosso time</h2>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
        <%= image_tag('reynaldo.png', :size => "200x200", class:'rounded-circle img-fluid d-block mx-auto') %> 
        <!--<img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">-->
          <h3>Reynaldo
            <small>Product Owner</small>
          </h3>
          <p>Dono do produto e desenvolvedor</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
        <%= image_tag('carla.jpg', :size => "200x200", class:'rounded-circle img-fluid d-block mx-auto') %> 
          <!--<img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">-->
          <h3>Carla
            <small>Dev</small>
          </h3>
          <p>Atua como desenvolvedora desde 2010, além de desenvolvedora trabalhou como analista de qualidade de software</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
          <%= image_tag('simone.png', :size => "200x200", class:'rounded-circle img-fluid d-block mx-auto') %> 
          <!--<img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">-->
          <h3>Simone
            <small>Dev</small>
          </h3>
          <p>Trabalhou como analisata de qualidade de software e atualmente desenvolve para a S2B</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center mb-4">
        <%= image_tag('willian.jpg', :size => "200x200", class:'rounded-circle img-fluid d-block mx-auto') %>
          <!--<img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">-->
          <h3>Willian
            <small>Dev</small>
          </h3>
          <p>Trabalhou  como administrador de sistemas  e atualmente desenvolve para a S2B</p>
        </div>
      </div>

    </div>
