<h1>Ideias Favoritas</h1>

<% @fav_ideas.each do |fav| %>
  <%= fav.idea.title %>
  <%= fav.idea.description %>
  <%= link_to  'Ver detalhes', idea_path(fav.idea)%>
<% end %>
 <%if @fav_ideas.empty?%>
    <div class="alert alert-warning" role="alert">
        Você ainda não possui nenhuma ideia favorita
    </div>
 <%end%>