//= require_tree .
@import "bootstrap"; 
 .radio-buttons {
    margin: .5em 0;
    span input {
      float: left;
      margin-right: 0.4em;
      margin-top: 0.4em;
    }

    label.string { 
      margin-bottom: .5em !important;
    }
  
    clear: both;
  }
  
  .form-block {
    clear: both;
    margin-top: .5em;
  }
  
   .radio-buttons span {
    clear: both;
    display:block;
   }

   .carousel-item {
    height: 32rem;
    background-color: #777;
  }

  .carousel {
    margin-bottom: 4rem;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.opac {
    color: white;
    top: 150px;
    background: rgba(0, 0, 0, 0.5);
    width: 640px;
    height: 240px;
    padding-left: 80px;
    padding-right: 65px;
}
.footer {
  top: 33px;
  margin-bottom: 0rem;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  p {
    margin-top: 0;
    margin-bottom: 0rem;
  }
}
