html {
    height: 100%;
    margin: 0;
}

body{
  display: flex;
  flex-direction: column;
}

.bg {
    /* The image used */
    background-image: url("investor_img.jpg");

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stb-main{
  flex: 1 0 auto;
}

